FINDING THE EVEN AND ODD NUMBERS IN THE LIST

In [3]:
list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

for n in list:
    if (n % 2 == 0):
        print ("The given number is even number",n)
    else:
        print ("The given number is odd number",n)

The given number is even number 0
The given number is odd number 1
The given number is even number 2
The given number is odd number 3
The given number is even number 4
The given number is odd number 5
The given number is even number 6
The given number is odd number 7
The given number is even number 8
The given number is odd number 9
The given number is even number 10
The given number is odd number 11
The given number is even number 12
The given number is odd number 13
The given number is even number 14
The given number is odd number 15
The given number is even number 16
The given number is odd number 17
The given number is even number 18
The given number is odd number 19
The given number is even number 20

IMPORTING MODULES

In [7]:
import numpy as np 
import pandas as pd

A = np.random.normal(25.0, 5.0, 10)
print(A)
A

[24.87951453 25.75266644 26.54175958 25.64719663 25.70594634 26.06411961
 31.56787726 38.35726337 17.68218075 30.09975045]

array([24.87951453, 25.75266644, 26.54175958, 25.64719663, 25.70594634,
       26.06411961, 31.56787726, 38.35726337, 17.68218075, 30.09975045])

LISTS

In [9]:
x = [1,2,3,4,5,6,7,8,9,10]
print(len(x))

10

In [10]:
x[:3]

[1, 2, 3]

In [11]:
x[3:]

[4, 5, 6, 7, 8, 9, 10]

In [12]:
x[-2:]

[9, 10]

In [13]:
x[-3:]

[8, 9, 10]

In [15]:
x[3:5]

[4, 5]

In [17]:
x.extend([11,12])
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [18]:
x.append([13,14])
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, [13, 14]]

In [19]:
x.append(15)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, [13, 14], 15]

In [21]:
y = [20,21,22]
y

[20, 21, 22]

In [22]:
listoflist = [x,y]
listoflist

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, [13, 14], 15], [20, 21, 22]]

In [23]:
listoflist[1]

[20, 21, 22]

In [24]:
listoflist[0][12]

[13, 14]

In [25]:
listoflist[0][12][1]

14

In [27]:
z = [5,4,3,2,1]
z.sort()
z

[1, 2, 3, 4, 5]

In [29]:
z.sort(reverse=True)
z

[5, 4, 3, 2, 1]

TUPLES

LISTS ARE MUTABLE BUT TUPLES ARE IMMUTABLE

In [30]:
x = (1,2,3)
x

(1, 2, 3)

In [31]:
len(x)

3

In [32]:
x[0]

1

In [33]:
x[-1]

3

In [34]:
y = (4,5,6)
y

(4, 5, 6)

In [35]:
listoftuples = [x,y]

In [36]:
listoftuples

[(1, 2, 3), (4, 5, 6)]

In [38]:
listoftuples[1]

(4, 5, 6)

In [39]:
x

(1, 2, 3)

In [42]:
(age,income) = "32,12000".split(',')
print(age)
print(income)

32
12000

DICTIONARIES

In [45]:
captain = {}
captain["enterprise"] = "kirk"
captain["enterprise D"] = "picard"
captain["Deep Space Nine"] = "sisko"
captain["voyager"] = "janeway"

print(captain["enterprise"])
print(captain["voyager"])

kirk
janeway

In [46]:
print(captain.get("enterprise"))

kirk

In [47]:
print(captain.get("dummy"))

None

In [48]:
for ship in captain:
    print(ship + ": " + captain[ship])

enterprise: kirk
enterprise D: picard
Deep Space Nine: sisko
voyager: janeway

FUNCTIONS

In [49]:
def squareit(x):
    return x * x

In [50]:
squareit(10)

100

In [51]:
#we can pass a function as an argument 

def dosomething(f,x):
    return f(x)

In [52]:
dosomething(squareit,5)

25

In [53]:
#using lambda functions

dosomething(lambda x:x*x*x,8)

512

BOOLEAN EXPRESSIONS

In [54]:
print (1==3)

False

In [55]:
print (1==1)

True

In [57]:
print (True or False)

True

In [60]:
print (2 == 5)

False

In [61]:
if 1==1:
    print ("The expression is correct")
elif 1==2:
    print ("The expression is incorrect")
else:
    print ("Both the expression is incorrect")

The expression is correct

LOOPING

In [62]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [64]:
for x in range(10):
    if (x == 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

In [67]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

ACTIVITY 

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [73]:
a = range(20)

for n in a:
    if n % 2 == 0:
        print("The given number is an even number",n)

print("All Done")

The given number is an even number 0
The given number is an even number 2
The given number is an even number 4
The given number is an even number 6
The given number is an even number 8
The given number is an even number 10
The given number is an even number 12
The given number is an even number 14
The given number is an even number 16
The given number is an even number 18
All Done